<div class="prime-time"> 
  <span>
      {% if localization.market.handle == "0a5ca24a-afcd-465e-b822-58498e2bbb6a"  %}
        58% OFF
      {% elsif localization.market.handle == "canada" %}
        58% OFF
      {% else %}
        58% OFF
      {% endif %}
    </span>
  
</div>

<style>
.prime-time-nobl {
              display: flex;
              gap: 0.5rem;
            }
            .prime-time {
              background-color: #054b48;
              padding: 1px 12px;
              border-radius: 15px;
            }
            .prime-time span{
              color:#fff;
              font-weight:500;
              font-size: 0.8rem;
            }
  /*PRIME DAY CSS Starts*/
/* button#product-submit-button {
    --button-background: 255, 216, 22 !important;
    color: black;
    font-weight: 500;
  --button-background-primary:255, 216, 22 !important;
  --initial-gradient: linear-gradient(rgb(var(--button-background, var(--button-background-primary))), rgb(var(--button-background, var(--button-background-primary))));
    --hover-gradient: linear-gradient(transparent, transparent);
}
button#product-submit-button:hover {
  border: 1px solid black;
}
.cart-drawer .button.w-full:hover {
  border: 1px solid black;
  color:#000 !important
}
.cart-drawer .button.w-full{
    --button-background: 255, 216, 22 !important;
    color: black;
    font-weight: 500;
    --button-background-primary: 255, 216, 22 !important;
    --initial-gradient: linear-gradient(rgb(var(--button-background, var(--button-background-primary))), rgb(var(--button-background, var(--button-background-primary))));
    --hover-gradient: linear-gradient(transparent, transparent);
}

.product-info .button {
    --button-background: 255, 216, 22 !important;
    color: black;
    font-weight: 500;
  --button-background-primary:255, 216, 22 !important;
  --initial-gradient: linear-gradient(rgb(var(--button-background, var(--button-background-primary))), rgb(var(--button-background, var(--button-background-primary))));
    --hover-gradient: linear-gradient(transparent, transparent);
}
.product-info .button:hover {
  border: 1px solid black !important;
  color:#000 !important
} */

/*PRIME DAY CSS Ends*/
</style>